<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general">
            <group id="medication" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Medication Configuration</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="label" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Form Label </label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>
                <field id="questions" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Questions</label>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                    <frontend_model>Yuriisha\MedicationConfig\Block\Adminhtml\Form\Field\Questions</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
